## 04803- Programming and Problem Solving for Data Analytics Recitation 1

### Exercise 1:Give example code that uses both break and continue statements

In [1]:
students = ["Patience", "Eugenia", "Christain","Ines","Chukwuemeka", "Eric"]

for student in students:
    if student == "Patience":
        continue
    if student == "Chukwuemeka":
        break
    print(student)

Eugenia
Christain
Ines

### Exercise 2: Write a program that reads the name, age, weight, and height of an individual and prints out the details in the form:

In [2]:
#Name: <name value>
# Age: <age value> years old
# Weight: <weight value> kgs
# Height: <height value> cm

In [3]:
name = input("Please enter your name: ")
age = input("What is your age? ")
weight = input("What is your weight? ")
height = input("What is your height? ")

Please enter your name: Ester
What is your age? 50
What is your weight? 50
What is your height? 180

In [4]:
print("Name:", name)
print("Age:", age, "years old")
print("Weight:", weight, "kgs")
print("Height:", height, "cm")

Name: Ester
Age: 50 years old
Weight: 50 kgs
Height: 180 cm

In [5]:
print("Name: "+ name)
print("Age: " + age + " years old")
print("Weight: " + weight + " kgs")
print("Height: "+ height + " cm")

Name: Ester
Age: 50 years old
Weight: 50 kgs
Height: 180 cm

#### NB: Adding spaces to the strings makes the output more elegant

In [6]:
print(f"Name: {name}")
print(f"Age: {age} years old")
print(f"Weight: {weight} kgs")
print(f"Height: {height} cm")

Name: Ester
Age: 50 years old
Weight: 50 kgs
Height: 180 cm

### Any other?

In [7]:
sum = [1,2,3,5]

### Exercise 3: Write a program that calculates exponentials of the form xy. Your program asks the user for a base x and an exponent y, and calculates xy

In [8]:
x = input("What is the base x? ")
y = input("What is the exponent y? ")

def calculate_exponentials(a,b):
    exponential = a ** b
    return exponential

What is the base x? 1
What is the exponent y? 2

In [10]:
#calculate_exponentials(x,y)  # This doesn't work. Why?

In [11]:
x = int(input("What is the base x? "))   #Cast to an integer
y = int(input("What is the exponent y? "))

def calculate_exponentials(a,b):
    exponential = a ** b
    return exponential

What is the base x? 1
What is the exponent y? 2

In [12]:
calculate_exponentials(x,y)

1

### Exercise 4: Write a program that uses a while loop and asks the user for a number, and prints the square root of all numbers from one(1) to that number. Issue a suitable message if the input is less than 1 or greater that 100.

In [13]:
num_input = int(input("Enter a number(integer): "))
counter = 1
if num_input < 1 :
    print("Your number is less than 1")
elif num_input >= 1 and num_input <= 100: #why "and" not "or"?
    print("Your number is between 1 and 100")
elif num_input > 100:
    print("Your number is greater than 100")

# What happens when you use multiple if statements, and not elif? 
    
while counter <= abs(num_input): #Why do we have absolute here?
    print(f"num: {counter}, square: {counter**2}")
    counter += 1

Enter a number(integer): 50
Your number is between 1 and 100
num: 1, square: 1
num: 2, square: 4
num: 3, square: 9
num: 4, square: 16
num: 5, square: 25
num: 6, square: 36
num: 7, square: 49
num: 8, square: 64
num: 9, square: 81
num: 10, square: 100
num: 11, square: 121
num: 12, square: 144
num: 13, square: 169
num: 14, square: 196
num: 15, square: 225
num: 16, square: 256
num: 17, square: 289
num: 18, square: 324
num: 19, square: 361
num: 20, square: 400
num: 21, square: 441
num: 22, square: 484
num: 23, square: 529
num: 24, square: 576
num: 25, square: 625
num: 26, square: 676
num: 27, square: 729
num: 28, square: 784
num: 29, square: 841
num: 30, square: 900
num: 31, square: 961
num: 32, square: 1024
num: 33, square: 1089
num: 34, square: 1156
num: 35, square: 1225
num: 36, square: 1296
num: 37, square: 1369
num: 38, square: 1444
num: 39, square: 1521
num: 40, square: 1600
num: 41, square: 1681
num: 42, square: 1764
num: 43, square: 1849
num: 44, square: 1936
num: 45, square: 2025
num: 46, square: 2116
num: 47, square: 2209
num: 48, square: 2304
num: 49, square: 2401
num: 50, square: 2500

In [8]:
#A better approach?

num_input = eval(input("Enter a number(integer): "))
counter = 1
if num_input < 1:
    print("Your number is less than 1")
elif num_input > 100:
    print("Your number is greater than 100 and out of range")
else:
    while counter <= abs(num_input): #Why do we have absolute here?
        print(f"num: {counter}, square: {counter**2}")
        counter += 1

Enter a number(integer): 20
num: 1, square: 1
num: 2, square: 4
num: 3, square: 9
num: 4, square: 16
num: 5, square: 25
num: 6, square: 36
num: 7, square: 49
num: 8, square: 64
num: 9, square: 81
num: 10, square: 100
num: 11, square: 121
num: 12, square: 144
num: 13, square: 169
num: 14, square: 196
num: 15, square: 225
num: 16, square: 256
num: 17, square: 289
num: 18, square: 324
num: 19, square: 361
num: 20, square: 400

### Lists

#### List indexing

In [14]:
list_numbers = [1,2,3,4,5,6]

In [15]:
len(list_numbers)

6

In [16]:
### Print all values minus the last number
list_numbers[:-1]

[1, 2, 3, 4, 5]

In [17]:
#list_numbers[6]

In [18]:
#### reverse the list
list_numbers[::-1]

[6, 5, 4, 3, 2, 1]

In [19]:
list_numbers[::2]

[1, 3, 5]

In [20]:
### select just half of the list
list_numbers[:len(list_numbers)//2]

[1, 2, 3]

In [21]:
### select just half of the list
list_numbers[:int(len(list_numbers)/2)] #why did we cast to an integer here?

[1, 2, 3]

In [22]:
len(list_numbers)/2

3.0

#### Our list can also be other data types

In [23]:
fruits = ["watermelon", "guava", "apple", "orange"]

In [24]:
fruits[:2]

['watermelon', 'guava']

In [25]:
fruits[::-1]

['orange', 'apple', 'guava', 'watermelon']

In [26]:
sorted(fruits)

['apple', 'guava', 'orange', 'watermelon']

In [ ]:
#What is the difference between sort and sorted?

In [27]:
list_num = [1,4,5,3,6]
list_num.sort()
print(list_num)

#Acts on the list

[1, 3, 4, 5, 6]

In [28]:
list_num = [1,4,5,3,6]
sorted(list_num)
print(list_num)

#Does not change the initial list

[1, 4, 5, 3, 6]

In [29]:
#You have to set to a variable

new_list = sorted(list_num)
print(new_list)

[1, 3, 4, 5, 6]

####  What happens when you try to set the sort operation to a new variable?

In [30]:
# list_num = [1,4,5,3,6]
# list2 = list_num.sort()

In [32]:
#print(list2)

In [33]:
list_num

[1, 4, 5, 3, 6]

In [34]:
#Tell the user to enter a number, then make a list of 1 to the number

In [37]:
num_input = int(input("Enter a number: "))


number_list = []
for num in range(num_input):
    number_list.append(num + 1)
print(number_list)
    
#What is a more elegant way to do this?  ==> List Comprehension

Enter a number: 4
[1, 2, 3, 4]

#### List Comprehension

In [38]:
[num + 1 for num in range(num_input)] #Just a line of code!

[1, 2, 3, 4]

In [39]:
[num + 1 for num in range(num_input) if num != 0] #To exclude 1 from the list

[2, 3, 4]

### Sets

In [40]:
# Write a program to take number inputs from the user and ignore duplicates

In [42]:
num_input = 0 #Why do we do this?
set_numbers = set()
while num_input != -1:
    num_input = int(input("Enter a number. Enter -1 to terminate: "))
    if num_input == -1:  #Why do we have this part in the code?
        continue
    set_numbers.add(num_input)

print(set_numbers)

Enter a number. Enter -1 to terminate: 2
Enter a number. Enter -1 to terminate: 3
Enter a number. Enter -1 to terminate: 3
Enter a number. Enter -1 to terminate: 1
Enter a number. Enter -1 to terminate: 2
Enter a number. Enter -1 to terminate: 5
Enter a number. Enter -1 to terminate: -1
{1, 2, 3, 5}

In [43]:
set([1,2,3,3,6])

{1, 2, 3, 6}

### Dictionaries

In [44]:
car_colours = {"BMW": "Yellow", "Benz": "Black", "Toyota" : "Grey", "Honda" : "White"}

In [45]:
#How do we get a list of all the colours?
[car for car in car_colours.keys()]

['BMW', 'Benz', 'Toyota', 'Honda']

In [46]:
#How do we get all the cars?
[colour for colour in car_colours.values()]

#Another way to do this?

['Yellow', 'Black', 'Grey', 'White']

In [47]:

[colour for car, colour in car_colours.items()]

['Yellow', 'Black', 'Grey', 'White']

In [48]:
[car for car, colour in car_colours.items()]

['BMW', 'Benz', 'Toyota', 'Honda']

In [49]:
#How do we get the colour of benz?
car_colours["Benz"]

'Black'

### Args and Kwargs

In [50]:
#Write a program to compute a mathematical function. It takes 4 numbers. in the order a, b,c , d

#y = a**2 + 2bc + d

In [51]:
def calculate_func_arg(*arg):
    y = arg[0]**2 + 2*(arg[1]*arg[2]) + arg[3]
    return y

In [52]:
print(calculate_func_arg(1,2,3,0))

13

##### What if our user doesn't follow the order?

In [53]:
def calculate_func_kwargs(**kwargs):
    y = kwargs["a"]**2 + 2*(kwargs["b"]*kwargs["c"]) + kwargs["d"]
    return y

In [54]:
user_input = {"a":1,"b":2, "c": 3, "d": 0}
print(calculate_func_kwargs(**user_input))

13

In [55]:
#We can also pass values from a function directly

In [56]:
def user_values():
    user_input = input("Enter the coefficients a,b,c,d ").split(",")
    user_input = [int(num) for num in user_input]
    a,b,c,d = user_input[0], user_input[1], user_input[2], user_input[3]
    
    return a,b,c,d

In [57]:
calculate_func_arg(*user_values())

Enter the coefficients a,b,c,d 1,2,3,0

13

In [58]:
#What happens when we remove *
#calculate_func_arg(user_values())

##### How do we define args with constants?

In [59]:
def calculate_func_arg(*arg, d = 0):
    y = arg[0]**2 + 2*(arg[1]*arg[2]) + d
    return y

In [60]:
print(calculate_func_arg(1,2,3,0))

13

#### What happens when you switch the order?

In [61]:
def calculate_func_arg(d = 0, *arg):
    y = arg[0]**2 + 2*(arg[1]*arg[2]) + d
    return y

In [62]:
print(calculate_func_arg(1,2,3,0))  #What is going on?

5